<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/styles/WikiCSS.css" />
        <title>Blog</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width">
    </head>
    
    <body>
        <a href="/blog" class="main-title">
            Cherry's Wiki Quicky
        </a>
        {% if not user %}
        <div class="login-area">
            <a class ="login-link" href="/login">Login</a>  | 
            <a class ="login-link" href="/signup">Signup</a>
        </div>
        {% else %}
        <div class="login-area">
            <div class ="login-link">Hi {{user}}!</div> | 
            <a class ="login-link" href="/logout">Logout</a>
        </div>
        <div class ="newpost-area">
            <a class ="newpost-link" href="/_edit/">Edit</a>
        </div>
        {% endif %}
        <div id="content">
            {% if post %}
            <div class="post">           
                <div class="post-content">
                    {{post.content.replace('\n', '<br>') | safe}}
                </div>
            </div>
            {% endif %}
        </div>
        <br>
        <div class="age">
            Queried {{last_queried_time}} seconds ago.
        </div>
    </body>
    
    
</html>
